.services {
  height: 100%;
  overflow: hidden;
  display: flex;

  @media (max-width: 48em) {
    align-items: center;
    justify-content: center;
  }

  &__section {
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 48em) {
      width: 100%;
    }

    &.left {
    }

    &.right {
      @media (max-width: 48em) {
        display: none;
      }
    }
  }

  &__title {
    font-size: 8.8rem;
    margin-bottom: 2.4rem;

    @media (max-width: 80em) {
      font-size: 12.8rem;
    }

    @media (max-width: 62em) {
      font-size: 4.8rem;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    &--item {
      width: 50%;
      padding: 3rem;
      background-color: #2f213f;
      border-radius: 2rem;
      cursor: pointer;

      display: flex;
      align-items: center;
      gap: 1.6rem;

      &:nth-child(1) .services__list--icon {
        background-color: #dd4c62;
      }

      &:nth-child(2) .services__list--icon {
        background-color: #025656;
      }

      &:nth-child(3) .services__list--icon {
        background-color: #6c5c0c;
      }

      @media (max-width: 96em) {
        width: 70%;
      }

      @media (max-width: 80em) {
        width: 100%;
      }
    }

    &--icon {
      width: 4.8rem;
      height: 4.8rem;
      border-radius: 100%;

      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 2.4rem;
        height: 2.4rem;
      }
    }

    &--info {
      h2 {
        font-weight: 500;
        font-size: 1.8rem;
        margin-bottom: 0.8rem;
      }

      h3 {
        font-weight: 300;
        font-size: 1.3rem;
      }
    }
  }

  &__counter-list {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2.4rem;

    @media (max-width: 96em) {
      width: 70%;
    }

    @media (max-width: 62em) {
      width: 100%;
    }
  }
}
