.portfolio {
  height: 600vh;
  position: relative;

  &__list {
    position: sticky;
    top: 0;

    display: flex;
    width: max-content;
    height: 100vh;
  }

  &__progress {
    position: sticky;
    left: 0;
    bottom: 80%;
    width: 8rem;
    height: 8rem;

    @media (max-width: 64em) {
      bottom: 10rem;
      left: 100%;
    }

    @media (max-width: 48em) {
      width: 5rem;
      height: 5rem;
    }
  }
}
