.speech-bubble {
  width: 50%;
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 0.8rem;

  @media (max-width: 80em) {
    width: 100%;
  }

  @media (max-width: 48em) {
    display: none;
  }

  &__text {
    width: 100%;
    height: 10rem;
    font-size: 1.8rem;
    padding: 2.4rem;
    background-color: #fff;
    color: #555;
    border-radius: 2rem 2rem 0 2rem;
  }

  &__img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    background-color: #dd4c62;
    border-radius: 100%;
  }
}
