*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  background: linear-gradient(to bottom, #12071f, #2f204e);
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #fff;
}

button {
  font-family: inherit;
}

.container {
  max-width: 153.6rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 40em) {
    max-width: 64rem;
  }

  @media (min-width: 48em) {
    max-width: 76.8rem;
  }

  @media (min-width: 64em) {
    max-width: 102.4rem;
  }

  @media (min-width: 80rem) {
    max-width: 128rem;
  }

  @media (min-width: 96em) {
    max-width: 153.6rem;
  }

  section {
    height: 100vh;
    scroll-snap-align: center;
  }
}
